<footer class="bg-slate-900 p-4 flex flex-row justify-center items-center flex-wrap gap-20">
    <div class="flex flex-col text-white">
        <h2 class="text-3xl border-b-2 border-blue-500 inline-block uppercase mb-4">Compañia</h2>
        <a href="#">Inicio</a>
        <a href="#">Sobre Nosotros</a>
        <a href="#">Politica de Privacidad</a>
        <a href="#">Terminos y Condiciones</a>
    </div>
    <div class="flex flex-col text-white">
        <h2 class="text-3xl border-b-2 border-blue-500 inline-block uppercase mb-4">Ayuda</h2>
        <a href="#">Informacion de Pedidos</a>
        <a href="#">Compras Realizadas</a>
        <a href="#">Envios Realizados</a>
        <a href="#">Pagos Realizados</a>
    </div>
    <div class="flex flex-col text-white">
        <h2 class="text-3xl border-b-2 border-blue-500 inline-block uppercase mb-4">Tienda</h2>
        <a href="#">Cremas Naturales</a>
        <a href="#">Aceites Naturales</a>
        <a href="#">Productos Variados</a>
        <a href="#">Nuevos Lanzamientos</a>
    </div>
    <div class="flex flex-col text-white">
        <h2 class="text-3xl border-b-2 border-blue-500 inline-block uppercase mb-4">Contactanos</h2>

        <div class="flex flex-row flex-wrap gap-8 text-white">
            <a href="#" class="bg-slate-700 h-8 w-8 rounded-full flex items-center justify-center">
                <i class="fa fa-facebook text-white"></i>
            </a>
            <a href="#" class="bg-gray-700 h-8 w-8 rounded-full flex items-center justify-center">
                <i class="fa fa-instagram text-white"></i>
            </a>
            <a href="#" class="bg-gray-700 h-8 w-8 rounded-full flex items-center justify-center">
                <i class="fa fa-envelope-o text-white"></i>
            </a>
            <a href="#" class="bg-gray-700 h-8 w-8 rounded-full flex items-center justify-center">
                <i class="fa fa-twitter text-white"></i>
            </a>
        </div>
    </div>
    <div class="text-white flex flex-row justify-center items-center py-[-20] text-center text-xl">
        <h2>2025 Oil Skin. Todos los derechos reservados.</h2>
    </div>
</footer>